---
import Section from '@/layouts/Section.astro'
import { basics } from '@cv'
import { Icon } from 'astro-icon/components'

const { summary, hobbies } = basics
---

<Section id="about" title="sobre mí">
  <div class="hobbies">
    {
      hobbies.map((hobby) => (
        <div class="hobby">
          <Icon name={hobby} />
        </div>
      ))
    }
  </div>
  {
    summary.split('\n').map((line) => (
      <Fragment>
        <p class="animation-show" set:html={line} />
      </Fragment>
    ))
  }
</Section>

<style>
  p {
    padding: 10px 0;
  }
  br {
    margin: 30px 0;
  }

  .hobbies {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    position: absolute;
    bottom: -65px;
    div {
      height: 30px;
    }
  }

  @media (min-width: 1024px) {
    .hobbies {
      inset: 0 0 auto auto;
    }
  }
</style>

<script>
  const hobbies = document.querySelectorAll('.hobby')
  let second = 0.1

  hobbies.forEach((hobby) => {
    ;(hobby as HTMLElement).style.animation =
      `appear-icons ${(second += 0.1)}s ease-in-out`
  })
</script>
