---
import { Icon } from 'astro-icon/components'
import NavElement from './NavElement.astro'
---

<header>
  <div class="header-container">
    <Icon name="menu" />
    <div id="menu-container">
      <button id="menu-icon">
        <Icon name="remove" />
      </button>

      <nav>
        <NavElement id={'#about'} title={'sobre mí'} />
        <NavElement id={'#experience'} title={'experiencia'} />
        <NavElement id={'#projects'} title={'proyectos'} />
        <NavElement id={'#skills'} title={'habilidades'} />
      </nav>
    </div>
  </div>
</header>

<script>
  const closeMenu = document.getElementById('menu-icon')
  const navContainer = document.getElementById('menu-container')

  closeMenu?.addEventListener('click', () => {
    navContainer && (navContainer.style.display = 'none')
  })
</script>

<style>
  .header-container {
    background: #dad7cf75;
    position: fixed;
    backdrop-filter: blur(15px);
    z-index: 5;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  @media (min-width: 768px) {
    .header-container {
      padding: 20px;
    }
  }
  #menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px;
    margin: 30px 0;
    background: #f4f1e78c;
    backdrop-filter: blur(15px);
    border: 3px solid var(--primary-100);
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
    z-index: 5;
    display: none;
  }
  nav {
    display: grid;
    place-items: center;
    gap: 40px;
    font-size: 18px;
  }

  @media (min-width: 768px) {
    #menu-container {
      display: flex;
      padding: 0;
      position: unset;
      width: 100%;
      border: none;
      border-radius: 0;
      margin: 0;
      bottom: unset;
      justify-content: end;
      background: transparent;
      backdrop-filter: none;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      font-size: 16px;
    }
  }

  #menu-icon {
    background: transparent;
    display: grid;
    place-items: center;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: 1024px) {
    #menu-icon {
      display: none;
    }
  }

  [data-icon] {
    font-size: 2rem;
    color: var(--primary-100);
  }

  @media (min-width: 768px) {
    [data-icon] {
      display: none;
    }
  }
</style>
