---
import { Icon } from 'astro-icon/components'
import NavElement from './NavElement.astro'
import { basics } from '@cv'

const { logo } = basics
---

<header>
  <div class="header-container">
    <button id="menu-icon">
      <Icon name="menu" />
    </button>

    <div id="menu-container" class="closed">
      <!-- <a class="logo" href=""><img src={logo} alt="Larom Digital Logo" /></a> -->
      <button id="remove-icon">
        <Icon name="remove" />
      </button>

      <nav>
        <NavElement id={'#about'} title={'sobre mí'} />
        <NavElement id={'#experience'} title={'experiencia'} />
        <NavElement id={'#projects'} title={'proyectos'} />
        <NavElement id={'#skills'} title={'habilidades'} />
      </nav>
    </div>
  </div>
</header>

<script>
  const closeMenu = document.getElementById('remove-icon') as HTMLElement
  const iconMenu = document.getElementById('menu-icon') as HTMLElement
  const headerContainer = document.querySelector(
    '.header-container'
  ) as HTMLElement
  const navElements = document.querySelectorAll('.nav-element')

  if (iconMenu) {
    iconMenu.addEventListener('click', () => {
      if (headerContainer) {
        headerContainer.setAttribute('opened', '')
      }
    })
  }

  if (closeMenu) {
    closeMenu.addEventListener('click', () => {
      if (headerContainer) {
        headerContainer.removeAttribute('opened')
      }
    })
  }

  navElements.forEach((element) => {
    element.addEventListener('click', () => {
      if (headerContainer) {
        headerContainer.removeAttribute('opened')
      }
    })
  })
  window.addEventListener('scroll', () => {
    const scrolled = window.scrollY > 0
    if (scrolled) {
      headerContainer.classList.add('scrolled')
    } else {
      headerContainer.classList.remove('scrolled')
    }
  })
  document.addEventListener('DOMContentLoaded', () => {
    const headerContainer = document.querySelector('.header-container')
    if (headerContainer) {
      headerContainer.classList.add('transition-enabled')
    }
  })
</script>

<style>
  .header-container {
    background: var(--bg-primary);
    position: fixed;
    backdrop-filter: blur(15px);
    z-index: 5;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    transition: none;
    &.transition-enabled {
      transition: height 0.3s ease-in-out;
    }
  }

  .scrolled {
    -webkit-box-shadow: 0px 2px 14px 0px rgb(150 145 145 / 75%);
    -moz-box-shadow: 0px 2px 14px 0px rgb(150 145 145 / 75%);
    box-shadow: 0px 2px 14px 0px rgb(150 145 145 / 75%);
  }
  .header-container[opened] {
    background: #dad7cf75;
    height: 100vh;
    @starting-style {
      height: initial;
    }
  }
  @media (min-width: 768px) {
    .header-container {
      padding: 20px;
    }
  }
  #menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px;
    margin: 100px 0 0;
    max-height: 500px;
    background: #f4f1e78c;
    backdrop-filter: blur(15px);
    border: 3px solid var(--primary-100);
    border-radius: 15px;
    place-items: center;
    z-index: 5;
    scale: 0;
    transition:
      scale 0.3s ease-in-out,
      display 0.3s ease allow-discrete;
    display: none;
  }

  .header-container[opened] #menu-container {
    scale: 1;
    transition: scale 0.3s ease-in-out;
    display: grid;
    @starting-style {
      scale: 0;
    }
  }
  .logo {
    display: none;
  }
  nav {
    display: grid;
    place-items: center;
    gap: 40px;
    font-size: 18px;
  }

  @media (min-width: 768px) {
    #menu-container {
      display: flex;
      padding: 0;
      position: unset;
      width: 100%;
      border: none;
      border-radius: 0;
      margin: 0 auto;
      bottom: unset;
      justify-content: end;
      background: transparent;
      backdrop-filter: none;
      scale: 1;
      max-width: 1024px;
    }
    .logo {
      display: initial;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      font-size: 16px;
    }
  }

  .header-container #remove-icon,
  .header-container[opened] #menu-icon {
    display: none;
  }

  .header-container[opened] #remove-icon,
  .header-container #menu-icon {
    display: block;
  }

  #remove-icon,
  #menu-icon {
    background: transparent;
    display: grid;
    place-items: center;
    border: none;
  }
  #remove-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: 1024px) {
    #menu-icon {
      display: none;
    }
  }

  [data-icon] {
    font-size: 2rem;
    color: var(--primary-100);
  }

  @media (min-width: 768px) {
    [data-icon] {
      display: none;
    }
  }
</style>
