---
import { Icon } from 'astro-icon/components'
import NavElement from './NavElement.astro'
---

<header>
  <div id="menu-container">
    <button id="menu-icon">
      <Icon name="remove" />
    </button>

    <nav>
      <NavElement id={'#about'} title={'about me'} />
      <NavElement id={'#experience'} title={'experience'} />
      <NavElement id={'#projects'} title={'projects'} />
      <NavElement id={'#skills'} title={'skills'} />
      <NavElement id={'#contact'} title={'contact'} />
    </nav>
  </div>
</header>

<script>
  const closeMenu = document.getElementById('menu-icon')
  const navContainer = document.getElementById('menu-container')

  closeMenu?.addEventListener('click', () => {
    navContainer && (navContainer.style.display = 'none')
  })
</script>

<style>
  #menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px;
    margin: 30px 0;
    background: #dad7cf75;
    backdrop-filter: blur(15px);
    border: 3px solid var(--primary-100);
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
  }
  nav {
    display: grid;
    place-items: center;
    gap: 40px;
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    #menu-container {
      display: flex;
      padding: 20px 30px;
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      border: none;
      margin: 0;
      bottom: unset;
      justify-content: end;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      font-size: 16px;
    }
  }

  #menu-icon {
    background: transparent;
    display: grid;
    place-items: center;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (min-width: 1024px) {
    #menu-icon {
      display: none;
    }
  }

  [data-icon='remove'] {
    font-size: 2rem;
    color: var(--primary-100);
  }
</style>
