---
import Remove from '@/assets/icons/Remove.astro'
import HeaderElement from './HeaderElement.astro'
---

<header>
  <div class="nav-container">
    <Remove class="remove" />
    <nav>
      <HeaderElement id={'#about'} title={'about me'} />
      <HeaderElement id={'#experience'} title={'experience'} />
      <HeaderElement id={'#projects'} title={'projects'} />
      <HeaderElement id={'#skills'} title={'skills'} />
      <HeaderElement id={'#contact'} title={'contact'} />
    </nav>
  </div>
</header>

<style>
  .nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px;
    margin: 30px 0;
    background: #dad7cf75;
    backdrop-filter: blur(15px);
    border: 3px solid var(--primary-100);
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
  }
  nav {
    display: grid;
    place-items: center;
    gap: 40px;
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    .nav-container {
      padding: 20px 30px;
      position: fixed;
      width: 100%;
    }
    nav {
      justify-content: flex-end;
      max-width: 1250px;
      margin: 0 auto;
      font-size: 16px;
    }
  }
</style>
