---
import About from '@/components/About.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'
import Skills from '@/components/Skills.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portrait.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <title>Cristina's Portfolio</title>
  </head>
  <body class="">
    <Header />
    <Hero />
    <About id="about" />
    <Experience id="experience" />
    <Projects id="projects" />
    <Skills id="skills" />

    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Double_Tracker';
    src: url('/fonts/Double_Tracker.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --bg-primary: #dad7cf;
    --primary-100: #34302d;
    --secondary-100: #d7322d;
    /* #34302D */
    --font-primary-100: 'Inter', system-ui;
    --font-primary-200: 'Roboto Mono', monospace;
    --font-secondary: 'Double_Tracker', serif;
  }

  /* GLOBAL STYLES */

  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100dvh;
    font-family: 'Inter', serif;
    background: var(--bg-primary);
    color: var(--primary-100);
    overflow-x: hidden;
  }

  section {
    max-width: 1024px;
    margin: 0 30px;
    position: relative;
  }

  @media (min-width: 1024px) {
    section {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  li {
    text-wrap: pretty;
    font-family: var(--font-primary-200);
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    font-weight: 100;
    width: fit-content;
    margin: 0;
    text-transform: capitalize;
  }

  h1 {
    font-family: var(--font-secondary);
    color: var(--secondary-100);
    font-size: 44px;
    letter-spacing: 6px;
    text-transform: uppercase;
    max-width: 320px;
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 78px;
      max-width: fit-content;
    }
    h2 {
      font-size: 56px;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 90px;
      max-width: fit-content;
    }
    h2 {
      font-size: 48px;
    }
  }

  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }

  li {
    list-style: none;
  }

  a {
    color: var(--primary-100);
    text-decoration: none;
  }
  [data-icon] {
    font-size: 1.5rem;
    color: var(--primary-100);
    height: 30px;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }
</style>
